<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="/static/mainapp/css/style.less" />
    <script src="/static/mainapp/js/less.min.js" ></script>
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
</head>

<body class="main-page">
    <div class="container">
        <header class="top">
            <ul class="contacts">
                <li class="email">{{ email }}</li>
                <li class="phone">{{ phone }}</li>
            </ul>
            <ul class="panel">
                <li>
                    <a href="/"><img alt="Поиск" src="/static/mainapp/img/store/search.png"></a>
                </li>
                <li>
                    <a href="/accounts/profile/"><img alt="Профиль" src="/static/mainapp/img/store/profile.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="Корзина" src="/static/mainapp/img/store/cart.png"></a>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <a href="http://www.twitter.com"><img alt="Twitter" src="/static/mainapp/img/store/twitter.png"></a>
                </li>
                <li>
                    <a href="http://www.facebook.com"><img alt="Facebook" src="/static/mainapp/img/store/facebook.png"></a>
                </li>
                <li>
                    <a href="http://plus.google.com"><img alt="Google Plus" src="/static/mainapp/img/store/google.png"></a>
                </li>
                <li>
                    <a href="http://www.instagram.com"><img alt="Instagram" src="/static/mainapp/img/store/instagram.png"></a>
                </li>
            </ul>
            <ul class="menu">
                <li><img id="logo" src="/static/mainapp/img/store/logo.png" alt="Продажа iPhone"></li>
                <li>
                    <a href="{% url 'mainapp:index' %}">Главная</a>
                </li>
                <li>
                    <a href="{% url 'products:list' %}">Продукты</a>
                </li>
                <li>
                    <a href="{% url 'categories:list' %}">Категории</a>
                </li>
                <li>
                    <a href="{% url 'mainapp:contacts' %}">Контакты</a>
                </li>
            </ul>
        </header>
    </div>

    <main class="{{ page_type }}content main-content">
        <div class="container">
            {% block main_content %}
            {% endblock %}
        </div>
    </main>

    <div class="container">
        <footer class="footer">
            <div class="left">
               <ul>
                   <li>
                       <img id="logo" src="/static/mainapp/img/store/logo.png" alt="Продажа iPhone">
                   </li>
                   <li>&copy; {% now "Y" %} Все права защищены</li>
               </ul>
            </div>
            <nav class="right">
                <ul class="menu">
                    <li>
                        <a href="{% url 'mainapp:index' %}">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'products:list' %}">Продукты</a>
                    </li>
                    <li>
                        <a href="{% url 'categories:list' %}">Категории</a>
                    </li>
                    <li>
                        <a href="{% url 'mainapp:contacts' %}">Контакты</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>