{% extends 'master.html' %}

{% block page_title %}
Каталог
{% endblock %}

{% block main_content %}
            <h1 class="page-title">Напишите нам</h1>
            <form id="contactform" action="">
                <fieldset>
                    <legend>Отправка сообщения</legend>
                    <label for="name">Имя</label>
                    <input id="name" type="text" name="name" placeholder="Ваше имя">
                    <br>
                    <label for="email">Email</label>
                    <input id="email" type="text" name="email" placeholder="Ваш email">
                    <br>
                    <label for="subject">Тема</label>
                    <input id="subject" type="text" name="subject" placeholder="Тема вашего обращения">
                    <br>
                    <label for="message">Сообщение</label>
                    <textarea id="message" name="message" rows="5"></textarea>
                    <br>
                    <input type="submit" value="Отправить"> 
                </fieldset>
            </form>
            <h1>Адрес</h1>
            <p>Наш телефон: <b>{{ phone }}</b></p>
            <p>Адрес: {{ address }}</p>
            <p>Email: {{ email }}</p>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=eberswalder str 6, berlin&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
{% endblock %}