{% extends 'master.html' %}

{% block page_title %}
Главная
{% endblock %}

{% block main_content %}
    <h1 class="page-title">Интернет-магазин Айфончик</h1>
    <p>Приветствуем вас на страничке нашего интернет-магазина. У нас широкий выбор телефонов Apple по очень приятным ценам. Наш каталог включает различные модели - от старых и дешевых до новых и элитных, которые прекрасно дополнят вашу репутацию среди друзей и бизнес-коллег.</p>
    <p><a class="catalog-link" href="/products">Перейти к каталогу</a></p>
{% endblock %}