<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="static/mainapp/css/style.less" />
    <script src="static/mainapp/js/less.min.js" ></script>
    <title>iPhone X</title>
</head>

<body class="product-page">
    <div class="container">
        <header class="top">
            <ul class="contacts">
                <li class="email">k@kml.email</li>
                <li class="phone">+49 157 39811291</li>
            </ul>
            <ul class="panel">
                <li>
                    <a href="/"><img alt="Поиск" src="static/mainapp/img/store/search.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="Профиль" src="static/mainapp/img/store/profile.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="Корзина" src="static/mainapp/img/store/cart.png"></a>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <a href="http://www.twitter.com"><img alt="Twitter" src="static/mainapp/img/store/twitter.png"></a>
                </li>
                <li>
                    <a href="http://www.facebook.com"><img alt="Facebook" src="static/mainapp/img/store/facebook.png"></a>
                </li>
                <li>
                    <a href="http://plus.google.com"><img alt="Google Plus" src="static/mainapp/img/store/google.png"></a>
                </li>
                <li>
                    <a href="http://www.instagram.com"><img alt="Instagram" src="static/mainapp/img/store/instagram.png"></a>
                </li>
            </ul>
            <ul class="menu">
                <li><img id="logo" src="static/mainapp/img/store/logo.png" alt="Продажа iPhone"></li>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="catalog">Каталог</a>
                </li>
                <li>
                    <a href="contacts">Контакты</a>
                </li>
            </ul>
        </header>
    </div>
    
    <main class="productcontent main-content">
        <div class="container">
            <div class="image">
                <a href="static/mainapp/img/products/big/iphones8-plus-x.jpg" target="_blank"><img class="product-image" alt="iPhone X" src="static/mainapp/img/products/medium/iphones8-plus-x.jpg"></a>
            </div>
            <div>
               <h1 class="page-title">
                  iPhone X
                </h1>
                <div>
                   <h2 class="sublevel product-description">Описание товара</h2>
                    <p> iPhone X — новый смартфон компании Apple, запуск которого приурочен к юбилею оригинального iPhone 2G. iPhone X получил стеклянный корпус, практически безрамочный OLED-дисплей Super Retina HD, систему фронтальных камер TrueDepth, сверхточную функцию сканирования лиц Face ID, поддержку быстрой и беспроводной зарядки, двойной L-образный аккумулятор. </p>
                </div>
                <a class="buy" href="#">Купить</a>
            </div>
            <h3 class="sublevel product-specifications">
              Характеристики товара
            </h3>
            <div>
                <ul>
                    <li>смартфон с iOS 11</li>
                    <li>экран 5.8", разрешение 2436x1125</li>
                    <li>двойная камера 12/12 МП, автофокус, F/1.8</li>
                    <li>память 256 Гб, без слота для карт памяти</li>
                    <li>3G, 4G LTE, LTE-A, Wi-Fi, Bluetooth, NFC, GPS, ГЛОНАСС</li>
                    <li>вес 174 г, ШxВxТ 70.90x143.60x7.70 мм</li>
                </ul>
            </div>
            <h4 class="sublevel product-details">
              Подробное описание товара
            </h4>
            <div>
                <table border="1">
                    <caption>Технические характеристики</caption>
                    <thead>
                        <th> Характеристика </th>
                        <th> Описание </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Среднее время работы в режиме разговора</td>
                            <td>21 час в режиме разговора</td>
                        </tr>
                        <tr>
                            <td>Тип батареи</td>
                            <td>Литий-ионовая, поддерживается беспроводная зарядка</td>
                        </tr>
                        <tr>
                            <td>Цвет</td>
                            <td>
                                <ul>
                                    <li>Серебристый</li>
                                    <li>Серый</li>
                                    <li>Черный</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Технологии связи</td>
                            <td>GSM 900/1800/1900, 3G, 4G LTE, LTE-A, VoLTE</td>
                        </tr>
                        <tr>
                            <td>Расширение экрана</td>
                            <td>2436x1125</td>
                        </tr>
                        <tr>
                            <td>Размер экрана</td>
                            <td>5.8 дюйма</td>
                        </tr>
                        <tr>
                            <td>Экран</td>
                            <td>цветной OLED, сенсорный, определяет силу нажатия на экран</td>
                        </tr>
                        <tr>
                            <td>Размеры</td>
                            <td>570.9x143.6x7.7 мм</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>174 грамма</td>
                        </tr>
                        <tr>
                            <td>Размер памяти</td>
                            <td>256 GB</td>
                        </tr>
                        <tr>
                            <td>Год производства</td>
                            <td>2017</td>
                        </tr>
                        <tr>
                            <td>Операционная система</td>
                            <td>iOS 11</td>
                        </tr>
                        <tr>
                            <td>Камера</td>
                            <td>12 мегапикселей</td>
                        </tr>
                        <tr>
                            <td>Количество ядер процессоров</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Тип сим-карты</td>
                            <td>Nano-Sim</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    
    <div class="container">
        <footer class="footer">
            <div class="left">
               <ul>
                   <li>
                       <img id="logo" src="static/mainapp/img/store/logo.png" alt="Продажа iPhone">
                   </li>
                   <li>&copy; Все права защищены</li>
               </ul>
            </div>
            <nav class="right">
                <ul class="menu">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="catalog">Каталог</a>
                    </li>
                    <li>
                        <a href="contacts">Контакты</a>
                    </li>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="catalog">Каталог</a>
                    </li>
                    <li>
                        <a href="contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>