<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="static/mainapp/css/style.less" />
    <script src="static/mainapp/js/less.min.js" ></script>
    <title>iPhone 5c</title>
</head>

<body class="product-page">
    <div class="container">
        <header class="top">
            <ul class="contacts">
                <li class="email">k@kml.email</li>
                <li class="phone">+49 157 39811291</li>
            </ul>
            <ul class="panel">
                <li>
                    <a href="/"><img alt="Поиск" src="static/mainapp/img/store/search.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="Профиль" src="static/mainapp/img/store/profile.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="Корзина" src="static/mainapp/img/store/cart.png"></a>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <a href="http://www.twitter.com"><img alt="Twitter" src="static/mainapp/img/store/twitter.png"></a>
                </li>
                <li>
                    <a href="http://www.facebook.com"><img alt="Facebook" src="static/mainapp/img/store/facebook.png"></a>
                </li>
                <li>
                    <a href="http://plus.google.com"><img alt="Google Plus" src="static/mainapp/img/store/google.png"></a>
                </li>
                <li>
                    <a href="http://www.instagram.com"><img alt="Instagram" src="static/mainapp/img/store/instagram.png"></a>
                </li>
            </ul>
            <ul class="menu">
                <li><img id="logo" src="static/mainapp/img/store/logo.png" alt="Продажа iPhone"></li>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="catalog">Каталог</a>
                </li>
                <li>
                    <a href="contacts">Контакты</a>
                </li>
            </ul>
        </header>
    </div>
    
    <main class="productcontent main-content">
        <div class="container">
            <div class="image">
               <a href="static/mainapp/img/products/big/iphone5c.jpg" target="_blank"><img class="product-image" alt="iPhone 5c" src="static/mainapp/img/products/medium/iphone5c.jpg"></a>
            </div>
            <div>
                <h1 class="page-title">
                  iPhone 5c
                </h1>
                <div>
                    <h2 class="sublevel product-description">Описание товара</h2>
                    <p> Apple iPhone 5C – яркое расширение линейки iPhone, которое поможет вам еще больше выделится из толпы. Модель Apple iPhone 5C доступна в пяти ярких расцветках корпуса, а используя фирменный чехол можно получить дополнительное буйство красок. В остальном же перед нами практически полная копия модели iPhone 5 2012 года. Благодаря пластиковому корпусу iPhone 5C стал немного дешевле классической модели. </p>
                </div>
                <a class="buy" href="#">Купить</a>
            </div>
            <h3 class="sublevel product-specifications">
              Характеристики товара
            </h3>
            <div>
                <ul>
                    <li> Nano-SIM, 1 SIM </li>
                    <li> экран: 4" IPS 1136x640 </li>
                    <li> оперативная память: 1 ГБ </li>
                    <li> процессор: Apple A6 + GPU PowerVR SGX 543 MP3
                        <br> количество ядер: 2 </li>
                    <li> ОС: iOS </li>
                    <li> аккумулятор: Li-Ion, 1510 мАч (несъемная) </li>
                    <li> камера: 8 Мп </li>
                </ul>
            </div>
            <h4 class="sublevel product-details">
              Подробное описание товара
            </h4>
            <div>
                <table border="1">
                    <caption>Технические характеристики</caption>
                    <thead>
                        <th> Характеристика </th>
                        <th> Описание </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Среднее время работы в режиме разговора</td>
                            <td>10 часов</td>
                        </tr>
                        <tr>
                            <td>Тип батареи</td>
                            <td>Литий-ионовая</td>
                        </tr>
                        <tr>
                            <td>Цвет</td>
                            <td>
                                <ul>
                                    <li>Белый</li>
                                    <li>Зеленый</li>
                                    <li>Синий</li>
                                    <li>Желтый</li>
                                    <li>Розовый</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Технологии связи</td>
                            <td>
                                <ul>
                                    <li>4G-LTE</li>
                                    <li>3G</li>
                                    <li>Bluetooth 4.0</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Расширение экрана</td>
                            <td>1136 x 640 пикселей</td>
                        </tr>
                        <tr>
                            <td>Размер экрана</td>
                            <td>4 дюйма</td>
                        </tr>
                        <tr>
                            <td>Экран</td>
                            <td>Retina</td>
                        </tr>
                        <tr>
                            <td>Размеры</td>
                            <td>5.86 x 12.38 x 0.76 см</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>132 грамма</td>
                        </tr>
                        <tr>
                            <td>Ёмкость батареи</td>
                            <td>1570 мАч</td>
                        </tr>
                        <tr>
                            <td>Размер памяти</td>
                            <td>16 GB</td>
                        </tr>
                        <tr>
                            <td>Год производства</td>
                            <td>2013</td>
                        </tr>
                        <tr>
                            <td>Операционная система</td>
                            <td>iOS</td>
                        </tr>
                        <tr>
                            <td>Камера</td>
                            <td>8 мегапикселей</td>
                        </tr>
                        <tr>
                            <td>Количество процессоров</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Разрешение экрана</td>
                            <td>Full-HD (1080p)</td>
                        </tr>
                        <tr>
                            <td>Тип сим-карты</td>
                            <td>Nano-Sim</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    
    <div class="container">
        <footer class="footer">
            <div class="left">
               <ul>
                   <li>
                       <img id="logo" src="static/mainapp/img/store/logo.png" alt="Продажа iPhone">
                   </li>
                   <li>&copy; Все права защищены</li>
               </ul>
            </div>
            <nav class="right">
                <ul class="menu">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="catalog">Каталог</a>
                    </li>
                    <li>
                        <a href="contacts">Контакты</a>
                    </li>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="catalog">Каталог</a>
                    </li>
                    <li>
                        <a href="contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>